/* ---- Base/Element Styles ---- */
* {
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}

body,
h1,
fieldset {
	margin: 0;
	padding: 0;
}

fieldset {
	border: none;
}

label {
	font-size: 0.9em;
}

.contact input,
select {
	display: block;
	width: 100%;
	height: 44px;
	padding: 0 1em;
}

/* ---- Shared Styles ---- */
.header-content,
.form-content {
	width: 95%;
	margin: auto;
}

.title,
.btn {
	color: #fff;
}

/* ---- Class Styles ---- */
.main-header {
	text-align: center;
}

.page-title {
	width: 100%;
	background-color: #273849;
	padding: 1em 0;
}

.title {
	text-transform: uppercase;
	font-size: 1.5em;
}

.header-content {
	border-bottom: 2px solid #000;
	margin-bottom: 2px;
}

.form-section {
	border-top: 1px solid #000;
	padding-top: 1em;
}

.section-heading {
	font-size: 1.25em;
	font-weight: 500;
	margin-bottom: 1rem;
	padding: 0;
}

.input-item:nth-of-type(n + 2) {
	margin-top: 0.75em;
}

.input-item input {
	margin-top: 0.75rem;
}

::placeholder {
	text-align: right;
	font-style: italic;
}
