/* ---- Base/Element Styles ---- */
* {
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}

body,
h1,
fieldset {
	margin: 0;
	padding: 0;
}

p,
span {
	font-size: 0.9em;
}

p {
	margin: 0.75rem 0.3rem 0;
}

fieldset {
	border: none;
}

label {
	font-size: 0.9em;
	color: rgba(0, 0, 0, 0.6);
}

.contact input,
select,
.btn {
	height: 3rem;
}

.contact input,
select {
	display: block;
}

/* ---- Shared Styles ---- */
.header-content,
.form-content {
	width: 90%;
	margin: auto;
}

p,
span,
.input-item select,
::placeholder {
	color: #aaa;
}

.title,
.main-footer span,
.btn {
	color: #fff;
}

.main-heading,
.section-heading {
	font-size: 1.25em;
	font-weight: 500;
}

.focus {
	background-color: #edeef2;
	padding: 1em;
	outline-color: transparent;
	transition: outline-color 0.3s ease-out;
}

.focus,
.btn {
	border: none;
	border-radius: 5px;
	width: 100%;
}

[type='checkbox'],
[type='radio'] {
	transform: scale(0.9);
	margin-right: 0.75rem;
}

.check-val,
.radio-val {
	margin-bottom: 0.5em;
}

.focus:focus {
	outline-color: #273849;
}

/* ---- Class Styles ---- */
.main-header {
	text-align: center;
}

.page-title,
.main-footer {
	background-color: #273849;
}

.page-title {
	width: 100%;
	padding: 1em 0;
	margin-bottom: 1.5rem;
}

.title {
	text-transform: uppercase;
	font-size: 1.5em;
}

.header-content {
	border-bottom: 2px solid #000;
	padding-bottom: 2rem;
	margin-bottom: 2px;
}

.form-section {
	border-top: 1px solid #000;
	padding: 1.5rem 0;
}

.main-heading {
	margin: 0;
}

.section-heading {
	margin-bottom: 1.5rem;
	padding: 0;
}

.input-item:nth-of-type(n + 2) {
	margin-top: 0.75em;
}

.input-item input,
.input-item select {
	margin-top: 0.5rem;
}

.zip {
	width: 50%;
	margin-left: 0;
}

.group {
	padding-top: 0.5rem;
	padding-bottom: 1rem;
}

.text {
	height: 6rem;
	margin-top: 0.5rem;
	resize: none;
}

.btn {
	background-color: #28c9b9;
	font-weight: bold;
	font-size: 1.1em;
	margin-bottom: 1.5rem;
}

.main-footer {
	width: 100%;
	height: 8rem;
	padding-top: 2rem;
	display: flex;
	justify-content: center;
}

.right::placeholder {
	text-align: right;
	font-style: italic;
	padding-right: 0.25em;
}

/* ---- Media Query ---- */

@media (min-width: 768px) {
	.header-content,
	.form-content {
		max-width: 600px;
	}

	.input-item {
		display: flex;
		align-items: center;
	}

	.contact label {
		flex-basis: 25%;
	}

	.contact input,
	.contact select {
		flex-basis: 75%;
	}

	.zip {
		width: 100%;
	}

	.zip input {
		max-width: 25%;
	}

	.input-item:first-of-type input {
		margin-top: 0;
	}
}
